/* Universal Stuff */

body, html {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    padding: 0;
    background-image: linear-gradient(black 50%, rgb(58, 1, 58));
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(0, 255, 0);
    font-family: 'Silkscreen', cursive;

}

a {
    color: rgb(0, 255, 0);
}

.header {
    margin-top: 4rem;
    text-align: center;
}

.explanation-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer {
    margin-bottom: 2rem;
    margin-top: 2rem;
}


.image-medium {
    width: 30rem;
    height: auto;
}

.image-large {
    width: 50rem;
    height: auto;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Nav Stuff */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height: 3.5rem;
    top: 0;
    width: 100%;
    background-color: rgb(58, 1, 58);
}


.logo {
    margin-left: 1rem;
}

.logo-small {
    display: none;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    margin-right: 1rem;
    padding: 0;
    overflow: hidden;
}

.nav-bar li {
    display: inline;
    float: left;
}

.nav-bar li a {
    display: block;
    padding: 1.11rem;
    text-decoration: none;
}

.nav-bar li a:hover {
    background-color: rgb(0, 255, 0);
    color: black;
}

.active {
    background-color: rgb(0, 255, 0);
    color: black;
}

@media only screen and (max-width: 569px) {
    .logo {
        display: none;
    }
    .logo-small {
        display: block;
        margin-left: 1rem;
        font-size: 2rem;
    }
}

@media only screen and (max-width: 464px) {
    .nav-bar li {
        font-size: 0.5rem;
    }
}

@media only screen and (max-width: 332px) {
    .nav-bar li a {
       padding: 0.85rem; 
    }
}

/* About Me Stuff */

.about-me-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-me-container {
    position: relative;
    top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 654px) {
    .about-me-section {
        align-items: flex-start;
        padding: 0 1rem;
    }
    .about-me-container {
        top: 5rem;
    }
}

/* Projects Stuff */

#projects-section {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.project {
    display: none;
    border: 1px solid rgb(0, 255, 0);
    border-radius: 5%;
    width: 80%;
    height: 40rem;
    margin-bottom: 1rem;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.prev, .next {
    cursor: pointer;
    top: 50%;
    width: auto;
    padding: 16px;
    color: rgb(0, 255, 0);
    font-weight: bold;
    font-size: 2rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 5;
    display: block;
}

.arrow-container {
    position: absolute;
    width: 55%;
    top: 60%;
    display: none;
}

.project:hover ~ .arrow-container {
    display: block;
}

.arrow-container:hover {
    display: block;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(50, 50, 50, 0.8);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.arrows {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-link {
    font-size: 2rem;
    margin-left: 2rem;
    z-index: 100;
}

.github-link {
    font-size: 1rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.project-picture {
    width: 20rem;
    height: auto;
    margin: 1rem;
}

.project-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 4rem;
}

@media only screen and (max-width: 812px) {
    .project-picture {
        width: 15rem;
    }
    .project {
        width: 100%;
    }
    #projects-section {
        width: 95%;
    }
    .arrow-container {
        width: 94%;
        display: block;
    }
}   

@media only screen and (max-width: 374px) {
    .project-link {
        font-size: 1.25rem;
    }
    .project {
        height: 45rem;
    }
}

/* historical figure stuff */

.title {
    margin-top: 4rem;
}

.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-box {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 32.5rem;
    border: 1px solid rgb(0, 255, 0);
    border-radius: 5%;
}

#result {
    line-height: 3rem;
    padding: 0 1rem;
    font-size: 0.75rem;
}

#button {
    margin-top: 1rem;
    display: flex;
    border: 1px solid rgb(0, 255, 0);
    background-color: rgb(58, 1, 58);
    border-radius: 5%;
    height: 3rem;
    width: 10rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0rem 0.25rem 0rem 0rem silver;
}

#button:active {
    box-shadow: 0rem 0rem 0rem 0rem;
    margin-top: 1.25rem;
}

@media only screen and (max-width: 712px) {
    .result-box {
        width: 90%;
    }
}

@media only screen and (max-width: 588px) {
    .title {
        font-size: 1.15rem;
    }
}

@media only screen and (max-width: 360px) {
    #result {
        padding: 0 0.5rem;
        line-height: 2rem;
    }
    .title {
        font-size: 1rem;
    }
}

/* Cat Quest Stuff */

.cat-quest {
    margin-top: 4rem;
}

/* Responsive Webpages Stuff */

.webpage-title {
    font-size: 2.75rem;
}

@media only screen and (max-width: 344px) {
    .webpage-title {
        font-size: 1.5rem;
    }
}

/* djangoRestaurant stuff */


.explanation-container p {
    padding: 0 4rem;
}

@media only screen and (max-width:816px) {
    .image-large {
        width: 30rem;
    }
}

@media only screen and (max-width: 496px) {
    .image-medium {
        width: 100%;
    }
    .image-large {
        width: 100%;
    }

    .explanation-container p{
        padding: 0 2rem;
    }
}
/* Contacts stuff */

.contact-group {
    position: relative;
    top: 15rem;
}

@media only screen and (max-width: 594px) {
    .contact-group h1 {
        font-size: 1rem;
    }
    .contact-group {
        top: 5rem;
    }
}